<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div.container{
            width: 600px;
            margin: 0 auto;
            text-align: center;
            color: lightslategrey;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <h2>Comparing an Ideal dataset with an optional dataset</h2>
        <h3>Age feature of titanic dataset and normal distribution of titanic</h3>
        <img src="../static/Figure_1.png" alt="">
    </div>
</body>
</html>