<table>
    <tr>
        <th></th>
        <th>BETR801</th>
        <th>FR04012</th>
        <th>FR04037</th>
        <th>BETN029<br></th>
    </tr>
    <tr>
        <td>1990-01-01 00:00:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td>16.0<br></td>
    </tr>
    <tr>
        <td>1990-01-01 01:00:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td>18.0<br></td>
    </tr>
    <tr>
        <td>1990-01-01 02:00:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td>21.0<br></td>
    </tr>
    <tr>
        <td>1990-01-01 03:00:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td>26.0<br></td>
    </tr>
    <tr>
        <td>1990-01-01 04:00:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td>21.0<br></td>
    </tr>
</table>